<h1>Flights</h1>

<% @flights.each do |flight| %>
  <div id="flights-<%= flight.id %>">
    <h3>Flight Number: <%= flight.number %></br>
    Airline: <%= flight.airline.name %></h3>
    <ul>
      <% flight.passengers.each do |passenger| %>
        <li><%= passenger.name %>
        <%= button_to "Remove #{passenger.name}", destroy_flight_path(flight, passenger), method: :delete %></li>
      <% end %>
    </ul>
  </div>
<% end %>
