<h1>All Flights</h1>

<% @flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
  
  
    <p>Flight Number: <%= flight.number %></p>
      <% flight.passengers.each do |passenger| %>
        
        <section id="passenger-<%= passenger.id %>">
       
          <p>Passenger Name: <%= passenger.name %> <%= button_to "Remove #{passenger.name}", "/passengers/#{passenger.id}/flights/#{flight.id}" , method: :delete %></p>
        </section>
      


      <% end %>

    <p>Airline: <%= flight.airline.name %></p>
  </section>
<% end  %>